@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.App {
  text-align: center;
  font-family: 'Lobster', cursive;
  color: rgb(184, 11, 11);
}

h1{
  font-size: 100px;
  font-family: 'Lobster', cursive;
  color: rgb(184, 11, 11);
  border-style: groove;
  border-width: 20px;
  border-color: rgba(192, 192, 192, 0.412);
  background-color: rgba(0, 0, 0, 0.648);
  display:inline-block;
}

h3{
  text-decoration: underline;
  font-size: 40px;
  color: black;
}

.quotes{
  border-style: double;
  border-width: 10px;
  border-color: gold;
  background-color: rgba(250, 235, 215, 0.404);
  font-size: 30px;
}

body{
  background-image: url(https://m.media-amazon.com/images/M/MV5BODUzYTE0ZDMtNjc3NC00ODliLTk3NzEtOGU4ZWVlNDAyN2JjXkEyXkFqcGdeQXVyODEwOTk1NjQ@._V1_FMjpg_UX1000_.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

